app {}

.OptionContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.Container {
  background-color: rgb(7, 63, 115);
}

.Home {
  display: flex;
  flex-direction: column;
}

.Away {
  display: flex;
  flex-direction: column;
}

.RugbyTitle {
  display: flex;
  justify-content: center;
}